/* first page styles */
.header-image{
    
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../resources/Banner\ Image.png'); 
    border-radius: 16px;
    margin: 70px 140px 0px 100px;
    background-repeat: no-repeat;
    background-position: center;
       
    
}
.header-text{
    text-align: center;
    color: white;
    padding: 100px 344px 170px 344px;
    
}
.header-text>p{
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;   
    
}
.header-text>h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    
    
}
.footer-image{
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../resources/Vectorrr.png'); 
    border-radius: 16px;
    margin: 70px 140px 0px 100px;
    background-repeat: no-repeat;
    background-position: center; 

}
.middle-part{
    max-width: 1600px;
    max-height: 730px;
    margin:  50px 390px 200px 390px;
    align-items: center;
}
.content{
    text-align: center;
    

}
.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom:30px;
    padding-bottom: 30px;
    padding-top:25px;
}
.middle-des{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.last-des{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}
.welcome{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
 }
 .left-des{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    ;
 }
.inside-content{
    display: flex;
    justify-content: space-around;
    
}
.left-part{
    text-align:left;
    padding: 60px ;
    max-width: 690px;  
    
}
.footer-image>.inside-content>.right-part img{
   margin: 68px;
   
}

.join-anchor{
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: 32px;   
   
}
.first{
    width: 1320px;
    height: 482px;
    margin: 120px 140px 120px 100px;
    text-align: center;
    background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
}
.text{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 100px 385px 30px 380px;
    
}
.orange{
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
 }
.btn{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border:0px;
    color:white;
    
}
.white{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.head-one{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;  

 }
.col-one-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;  
 }
 .col-one-des{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px; 
    font-weight: 400;  
 }
 .col-two> img{
    height: 350px;
    width: 350px;
    border-radius: 350px;
    border: 15px solid #F00;
    padding: 40px;  
 }
 .head-two{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;   
 }
 .col-three-des{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.second{
    width: 1320px;
    height: 482px;
    margin: 70px 140px 0px 100px;
    display: flex;
    gap:80px;
    align-items: center;
}
.third{
    max-width: 1320px;
    margin: 120px 140px 120px 100px;
    text-align: center;
}


.third-heading{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.third-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
 }
.holiday{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}
.third-part-des{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 100px;
}

.third-part-images{
    background-image: url('../resources/Rectangle\ 1.png'), url('../resources/Rectangle\ 2.png');
    background-position: top right, center bottom;
    background-repeat: no-repeat;
    width: 1320px;
    height:661px;
    display: flex;
    gap: 65px;
}
.gift{
    padding-top: 150px;
    padding-left: 80px;
}
.discount-image{
    padding-top: 120px;
}
.fourth{
    width: 1320px;
    margin: 120px 140px 140px 100px;
    justify-content:space-around ;

}
.fourth-heading{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    
}
.fourth-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    
}
.fourth-part-des{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    }
.fourth-part-images > img{
    width: 400px;
    height: 400px;
    border-radius: 16px;
    padding: 15px;
}
.bag:hover{
    opacity: 0.4;
    cursor: pointer;
}
.heel:hover{
    opacity: 0.4;
    cursor: pointer;
}
.purse:hover{
    opacity: 0.4;
    cursor: pointer;
}
.shoe:hover{
    opacity: 0.4;
    cursor: pointer;
}
.glasses:hover{
    opacity: 0.4;
    cursor: pointer;
}
.ring:hover{
    opacity: 0.4;
    cursor: pointer;
}
.fifth{
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    background-position-x: center;
    margin: 120px 140px 120px 100px;
    max-width: 1320px;
    height: 580px;
    text-align: center;
    padding: 100px;
}
.fifth-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;

    }
.fifth-part-des{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
    
}
label{
    display: flex;
    text-align: center;
    padding-left: 100px;
    
}
input{
    border: none;
    padding:25px;
    width:400px;
    border-radius: 50px 0px 0px 50px;
    color: rgba(7, 2, 17, 0.3);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    
}
.sub{
    border:none;
    padding:25px;
    background: #F00;
    color: white;
    width:250px;
    border-radius: 0px 50px 50px 0px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;


}
footer{
    background: #070211;
    color: white;
    height: 600px;
    padding: 400px 100px;
    width:1400px;

}
.first-row{
    display: flex;
    justify-content: space-between;
    
}
.sec-row{
    text-align: center;
}
.sec-row img{
    padding:20px;
    
}
.last-row{
    display: flex;
    justify-content: space-between;
}
hr{
    margin:50px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(70, 82, 90), rgba(0, 0, 0, 0))
}
body{
    max-width:1320px;

}